{% extends 'base.html' %}

{% block content %}
  <h2>Изменение статуса питомца</h2>
  <p>Вы уверены, что хотите {% if pet.is_active %}деактивировать{% else %}активировать{% endif %} питомца "{{ pet.name }}"?</p>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-{% if pet.is_active %}danger{% else %}success{% endif %}">
      {% if pet.is_active %}Деактивировать{% else %}Активировать{% endif %}
    </button>
    <a href="{% url 'blog:pet_list' %}" class="btn btn-secondary">Отмена</a>
  </form>
{% endblock %}