{% extends 'base.html' %}

{% block content %}
  <h2>Список пользователей</h2>
  {% if users %}
    <div class="list-group">
      {% for user in users %}
        <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          <span>{{ user.email }} ({{ user.get_role_display }})</span>
          <a href="{% url 'users:user_detail' user.pk %}" class="btn btn-info btn-sm">Посмотреть данные</a>
        </div>
      {% endfor %}
    </div>

    <!-- Пагинация -->
    {% if is_paginated %}
      <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}">« Предыдущая</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link">« Предыдущая</span>
            </li>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
              <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
          {% endfor %}

          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая »</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link">Следующая »</span>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  {% else %}
    <p class="text-muted">Нет пользователей для отображения.</p>
  {% endif %}
{% endblock %}